In [2]:
# Relation between experience and salary

In [17]:
#import file
import csv

with open('kaggle2021-short.csv') as f:
    reader = csv.reader(f, delimiter=",")
    kaggle_data = list(reader)

column_names = kaggle_data[0]
survey_responses = kaggle_data[1:]

In [18]:
#clean the data

#convert experience and salary to float,int
for row in survey_responses:
    row[0] = float(row[0])
    row[-1] = int(row[-1])

    #convert None values on most_used
    if row[4] == "None":
        row[4] = None
    else:
        row[4] = row[4]
        
    #convert True and False
    if row[1] == "TRUE":
        row[1] = True
    else:
        row[1] = False
        
    #convert True and False
    if row[2] == "TRUE":
        row[2] = True
    else:
        row[2] = False
        
    #convert True and False    
    if row[3] == "TRUE":
        row[3] = True
    else:
        row[3] = False

In [19]:
#define and count who knows python,r,sql

knows_py = 0
knows_r = 0
knows_sql = 0

for row in survey_responses:
    if row[1] == True:
        knows_py += 1
    elif row[2] == True:
        knows_r += 1
    elif row[3] == True:
        knows_sql += 1
        
#calculate proportion

py_rate = knows_py / len(survey_responses)
r_rate = knows_r / len(survey_responses)
sql_rate = knows_sql / len(survey_responses)

#set and print result

result = '''Total Python Users : {} and the rate is {} .
Total R Users : {} and the rate is {} .
Total SQL Users : {} and the rate is {} .'''.format(knows_py, py_rate, knows_r, r_rate, knows_sql, sql_rate)

print(result)

Total Python Users : 21860 and the rate is 0.8416432449081739 .
Total R Users : 757 and the rate is 0.029145651253224502 .
Total SQL Users : 850 and the rate is 0.0327262926885612 .

In [20]:
#define lists

experience_coding = []
compensation = []

#iterate through and add them to the lists

for row in survey_responses:
    experience_coding.append(row[0])
    compensation.append(row[-1])

#define min max average    

exp_max = max(experience_coding)
exp_min = min(experience_coding)
exp_avg = sum(experience_coding) / len(experience_coding)

comp_max = max(compensation)
comp_min = min(compensation)
comp_avg = sum(compensation) / len(compensation)

#print the results

result = '''Maximum experience : {} Minimum Experience : {} Average Experience:  {}.
Maximum salary : {} Minimum Salary : {} Average Salary:  {}.'''.format(exp_max, exp_min, exp_avg, comp_max, comp_min, comp_avg)

print(result)

Maximum experience : 30.0 Minimum Experience : 0.0 Average Experience:  5.297231740653729.
Maximum salary : 1492951 Minimum Salary : 0 Average Salary:  53252.81696377007.

In [26]:
#create the column

for row in survey_responses:
    if len(survey_responses[0]) == 6 :
        row.append("")

#define categories and add them to the column

for row in survey_responses:
    if 0 <= row[0] < 5 :
        row[-1] = "Less than 5 years"
    elif 5 <= row[0] < 10 :
        row[-1] = "5-10 Years"
    elif 10 <= row[0] < 15 :
        row[-1] = "10-15 Years"
    else:
        row[-1] = "More than 15 years"
        
print(survey_responses[1:20])

[[12.3, True, True, True, 'Scikit-learn', 236889, '10-15 Years'], [2.2, True, False, False, None, 74321, 'Less than 5 years'], [2.7, False, False, True, None, 62593, 'Less than 5 years'], [1.2, True, False, False, 'Scikit-learn', 36288, 'Less than 5 years'], [1.0, True, False, False, 'PyTorch', 61302, 'Less than 5 years'], [1.8, False, False, False, None, 68984, 'Less than 5 years'], [6.1, True, False, False, 'TensorFlow', 18858, '5-10 Years'], [4.5, True, False, True, 'Scikit-learn', 55418, 'Less than 5 years'], [1.1, True, False, True, 'TensorFlow', 614, 'Less than 5 years'], [2.7, True, True, True, None, 70564, 'Less than 5 years'], [0.93, True, True, False, 'Scikit-learn', 55525, 'Less than 5 years'], [0.32, True, False, False, None, 61005, 'Less than 5 years'], [9.9, True, False, True, 'Scikit-learn', 2846, '5-10 Years'], [0.78, True, False, False, 'TensorFlow', 21, 'Less than 5 years'], [13.5, True, False, False, 'Scikit-learn', 14699, '10-15 Years'], [26.5, True, False, True, 'Scikit-learn', 2110, 'More than 15 years'], [1.5, True, False, True, 'Scikit-learn', 620, 'Less than 5 years'], [3.4, True, False, True, 'PyTorch', 73527, 'Less than 5 years'], [0.6, False, False, False, None, 6992, 'Less than 5 years']]

In [43]:
# create exp categories lists

less_than_five = []
five_to_ten = []
ten_to_fifteen = []
more_than_fifteen = []

#populate the lists

for row in survey_responses:
    if row[-1] == "Less than 5 years":
        less_than_five.append(int(row[-2]))
    elif row[-1] == "5-10 Years":
        five_to_ten.append(int(row[-2]))
    elif row[-1] == "10-15 Years":
        ten_to_fifteen.append(int(row[-2]))
    else:
        more_than_fifteen.append(int(row[-2]))
        
# calculate average salary for each group

avg_five = sum(less_than_five) / len(less_than_five)
avg_to_ten = sum(five_to_ten) / len(five_to_ten)
avg_ten_fifteen = sum(ten_to_fifteen) / len(ten_to_fifteen)
avg_more_15 = sum(more_than_fifteen) / len(more_than_fifteen)
        
        
result = '''{} people has less than 5 years of experience and their average salary is {} .
{} people has 5-10 years of experience and their average salary is {} .
{} people has 10-15 years of experience and their average salary is {} .
{} people has more than 15 years of experience and their average salary is {} .'''.format(len(less_than_five), avg_five, len(five_to_ten), avg_to_ten, len(ten_to_fifteen), avg_ten_fifteen, len(more_than_fifteen), avg_more_15)

print(result)

18753 people has less than 5 years of experience and their average salary is 45047.87484669119 .
3167 people has 5-10 years of experience and their average salary is 59312.82033470161 .
1118 people has 10-15 years of experience and their average salary is 80226.75581395348 .
2935 people has more than 15 years of experience and their average salary is 88863.85110732539 .